<html>
  <head>
    <title>Flask Intro - Sign up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>@import url(../static/stile.css);</style>
  </head>
  <body>
    <div class="container">
      <h1>Please Sign up</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Username" name="username" id="stringaInput" value="{{
          request.form.username }}">
        <input type="password" placeholder="Password" id="stringaInput" name="password" value="{{
        request.form.password }}">
        <input type="password" placeholder="Confirm password" id="stringaInput" name="Confirm password" value="{{
          request.form.password }}">
        <input class="btn btn-default" type="submit" id="stringaInput" value="Sign up" name="sign up">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>